.lottie-bg{
position: absolute;
z-index: -1;
width: 85%;
height: 100%;
left: 0;
right: 0;
margin-left:auto ;
}

.head{
    color: #fff;
    font-size: x-large;
}
.header{

    background: url('../Assests/wallpaperflare.com_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
   
    font-size: x-large;

    padding: 10px;
    margin: 5px;
}
.temp{
    color: gainsboro;
    margin: 7px;
}
.tem-big{
    font-size: xx-large;
}
.footer{
padding: 5px;
margin: 5px;
}
.foot-row-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: auto;
   margin: 10px;
   padding: 10px;
   
}
.footer-tit{
  font-size: x-large;
  color:grey;
  opacity: 90%;
  text-shadow: black;

}
.wea-deg{
    margin-top: -40px;
    display: flex;
    justify-self: center;

}
.morning{
    font-size: xx-large;
    padding: 20px;
    justify-self: center;
}
.anim-foot{
    
    width: 100px;
    height: 100px;
    /* box-shadow: 2px 0 0 0 #888; */
   
}
.aftrenoon{
    font-size: xx-large;
    padding: 20px;
    
}
.wea-tit{
    margin-top: -70px;
}
.evening{
    font-size: xx-large;
    padding: 20px;

}
.overnight{
    font-size: xx-large;
    padding: 20px;

}
.up-anim{
    height: 300px;
    width: 500px;
    position: absolute;
left: 0;
right: 0;
margin-left:auto ;
}